.root {
  width: 210px;
}

.mainContent {
  border: 1px solid rgb(var(--lsd-border-primary));
  padding: 16px;
  user-select: none;
}

.imgContainer {
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  width: 100%;
  display: flex;

  a {
    cursor: pointer;
    display: flex;
    padding: 6px 10px;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border-bottom: 1px solid rgb(var(--lsd-border-primary));
    border-right: 1px solid rgb(var(--lsd-border-primary));
    &:first-child {
      border-left: 1px solid rgb(var(--lsd-border-primary));
    }

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
